.container {
	text-align: center;
	padding-top: 150px;
	display: flex;
	justify-content: center;
}

.appBackground {
	background-image: url(./img/world_map_currency.jpg);
	background-position: center center;
	background-size: 1100px 600px;
	background-repeat: no-repeat;
	height: 600px;
}

.contentColor {
	background-color: rgba(204, 229, 255, 0.5);
	width: 40em;
	height: 18em;
}
